/out/production/modern-java-in-action-book/chapter01/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/chapter01/FilteringApples.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleFancyFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleSimpleFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleColorPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleWeightPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$ApplePredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleRedAndHeavyPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$Color.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$1.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter01/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleColorPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleRedAndHeavyPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleWeightPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleSimpleFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter01/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/MeaningOfThis$1.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$1.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleFancyFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$ApplePredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$Color.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/MeaningOfThis.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/ExecuteAround$BufferedReaderProcessor.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/ExecuteAround.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/data.txt
/src/main/java/modernjavainaction/chapter03/data.txt
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Sorting$AppleComparator.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Lambdas$ApplePredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Sorting.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Lambdas.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Color.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter03/Apple.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/Dish$Type.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/Dish.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/HighCaloriesNames.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/Main.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/StreamBasic$1.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/StreamBasic.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter04/StreamVsCollection.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Mapping.class
/src/main/java/modernjavainaction/chapter05/Main.java
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Main.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Finding.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Filtering.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/BuildingStreams.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Reducing.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/PuttingIntoPractice.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Trader.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/Transaction.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter05/NumericStreams.class
