/out/production/modern-java-in-action-book/chapter01/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/chapter01/FilteringApples.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleFancyFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleSimpleFormatter.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleColorPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleWeightPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$ApplePredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$AppleRedAndHeavyPredicate.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$Color.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples$1.class
/out/production/modern-java-in-action-book/chapter02/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter01/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleColorPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleRedAndHeavyPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleWeightPredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleSimpleFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter01/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/MeaningOfThis$1.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$1.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$Apple.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$AppleFancyFormatter.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$ApplePredicate.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples$Color.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/FilteringApples.class
/out/production/modern-java-in-action-book/modernjavainaction/chapter02/MeaningOfThis.class
